@model ProductViewModel
@inject IResourceManager _resourceManager
@{
    ViewData["Title"] = _resourceManager[SharedResource.Product];
}
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">@_resourceManager[SharedResource.ProductManagement]</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                <i class="mdi mdi-home-outline"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@_resourceManager[SharedResource.Product]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">@_resourceManager[SharedResource.Product]</h4>
                </div>
                <div class="box-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#product" role="tab"><span><i class="ion-bag mr-15"></i>@_resourceManager[SharedResource.Product]</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#productFeatures" role="tab"><span><i class="ion-ios-pricetag-outline mr-15"></i>@_resourceManager[SharedResource.ProductFeature]</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages8" role="tab"><span><i class="ion-email mr-15"></i>ایمیل</span></a> </li>
                    </ul>
                    <form enctype="multipart/form-data" asp-action="Create" asp-controller="Product" asp-area="Admin" method="post" id="productform">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="product" role="tabpanel">
                                <partial name="_product" for="@Model.ProductDto" />
                            </div>
                            <div class="tab-pane" id="productFeatures" role="tabpanel">
                                <partial name="_productFeatures" />

                            </div>
                        </div>
                        <div class="box-footer text-right">
                            <button class="btn btn-success mr-1 mb-5 pull-right" id="btnSubmit" disabled="disabled" type="button" onclick="onSubmit()">
                                <span class="fa fa-check-circle"></span>
                                @_resourceManager[SharedResource.Save]
                            </button>
                            <a asp-action="Index" class="btn btn-danger mb-5  pull-right">
                                <span class="fa fa-fw fa-undo"></span>
                                @_resourceManager[SharedResource.Cancel]
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>


@section Scripts
{
    <script src="~/Admin/js/productFeatures.js"></script>
    <script>
        function format(input) {
            var nStr = input.value + '';
            nStr = nStr.replace(/\,/g, "");
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            input.value = x1 + x2;
        }

        $(document).ready(function() {
            $('#addFeatureBtn').click(function() { AddTempFeatures(); });
        });


        function onSubmit() {
            var featuresList = []; // list object
            $('#table-information > tbody  > tr').each(function() { //loop in table list
                var feature = {}; // create new Movie object and set its properties
                feature.Title = this.cells[0].innerHTML;
                feature.EnglishTitle = this.cells[1].innerHTML;
                feature.Description = this.cells[2].innerHTML;
                featuresList.push(feature); // add Movie object to list object
            });
            var $form = $("#productform");

            var model = {
                "ProductFeatureDto": featuresList
            }
            $form.add(model);
            $.validator.unobtrusive.parse($form);
            if ($form.valid()) {
                $.ajax({
                    type: "post",
                    url: "/Admin/product/create",
                    data: $form,
                    datatype: "json",
                    cache: false,
                    success: function(data) {
                        alert("You Multiple Data Passed Successfully");
                    },
                    error: function(xhr) {
                        alert('No Valid Data');
                    }
                });
            }
            

        }


    </script>

    <script src="~/Admin/assets/vendor_components/ckeditor/ckeditor.js"></script>
    <script src="~/Admin/js/pages/editor.js"></script>
}